.map {
    background-color: #475a85;
  #map {

    height: 511px;
    width: 100%;
    overflow: hidden;
    // width: 1399px;
    // margin-left: auto;
    // margin-right: auto;
  }
}

// AIzaSyADMfE_dXksnsU1Twv0aLU3Cay_68YAfbE
